-each person in people
	tr
		td.display-voter(data-id=person._id.toString())
			span(style="color:rgb(0, 173, 255);cursor:pointer;")=person.name
		td=person.national_id
		td=person.dob
		td=person.address
		td=person.contact_number
		td=person.votes
		td=person.remarks
