extends layout

block content
	h1 Members
	table.table.table-bordered.sortable
		thead
			tr
				th #
				th Name				
				th Contact
				th Specialized constituency
				th Role
				th Appointed location
				th Joined Date
		tbody
			-each member,k in members
				tr
					td=k+1
					td
						a(href='/members/' + member._id)=member.personal_name
					td=member.personal_mobile
					td
						-if(member.specialized_constituency)
							-each loc in member.specialized_constituency
								a.label.label-primary=loc
								| &nbsp;
					td
						-if(member.role)
							-each loc in member.role
								a.label.label-primary=loc
								| &nbsp;
					td
						-if(member.appointed_location)
							-each loc in member.appointed_location
								a.label.label-primary=loc
								| &nbsp;
					td=member.time
					
