extends layout

block content
	section.row
		section.col-md-2.col-xs-3
			img.img-circle(src="http://mua2014.com:8080/" + person.national_id + ".jpg")
		section.col-md-9.col-xs-8
			h3 #{person.name} (#{person.national_id})
			p
				section=person.dob
				section=person.address
	hr
	section.row
		section.col-md-6
			section.form-horizontal
				h2 Initial investigation
				hr
				section.form-group
					label.col-sm-3.control-label Location
					section.col-sm-9
						span.btn.btn-primary.update-survey-location(type="text", data-id=person._id.toString(), data-field="address_location") Set this location as current address
				section.form-group
					label.col-sm-3.control-label Contact
					section.col-sm-9
						input(type="text", value=person.contact_number, placeholder="mobile number", data-id=person._id.toString(), data-field="contact_number").update-survey-text.form-control
				section.form-group
					label.col-sm-3.control-label Votes
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons', data-field="votes", data-id=person._id.toString()).update-survey-mcq
							-var list = ["Muaz", "Abdullah Mohamed", "Abdullah Fahumee", "Shiham Waheed", "Harins Ammadey", "Not Voting", "Undecided"]
							-each item in list
								label(class=(person.votes == item ? "active" : "") + " btn btn-success btn-lg")
									|  #{item}
									input(type="radio", name="votes")
				section.form-group
					label.col-sm-3.control-label Voting instict
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons', data-field="voting_instinct", data-id=person._id.toString()).update-survey-mcq
							-var list = ["Best candidate", "Youth Candidate", "Loyalty for party", "Family", "For money / selfishness", "Influenced by 3rd party", "Hatred for another candidate", "For development of the constituency"]
							-each item in list
								label(class=(person.voting_instinct == item ? "active" : "") + " btn btn-success btn-lg")
									|  #{item}
									input(type="radio", name="voting_instinct")
				section.form-group
					label.col-sm-3.control-label Confirmation
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons', data-field="confirmation", data-id=person._id.toString()).update-survey-mcq
							-var list = ["0%", "50%", "100%"]
							-each item in list
								label(class=(person.confirmation == item ? "active" : "") + " btn btn-success btn-lg")
									|  #{item}
									input(type="radio", name="confirmation")
				section.form-group
					label.col-sm-3.control-label Remarks
					section.col-sm-9
						textarea.update-survey-text.form-control(data-field="remarks")
